/*Universal Element */

* {
    box-sizing: border-box;
}

/* Body Styling */

body {
    background-color: #333333;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    /* Sets font size to 16px */
    font-weight: 300;
    /* Sets font weight to 300 */
    line-height: 1.6;
    /* Sets line-height to 1.6 * the font-size */
    color: #ffffff;
}

/* Header Styling */

header {
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 10px 0 10px black;
    position: relative;
}

header a {
    color: black;

}

h1,
h2,
h3 {
    line-height: 1.4;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

h2 {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

main h2{
    text-align:center;
}

/* Hero Styling */
#hero {
    background-color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

/* Work Styling */
#work {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
}

/* Contact Styling */
#contact {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
}

/* Image Styling */

img {
    width: 100%;
    margin: auto;
}


/* Link stylings */

a {
    font-size: 16px;
    color: #ffffff;
}

a:visited {
    color: purple;
    /* Makes a link text turn purple for visited links */
}

a:hover,
a:focus {
    color: #4285F4;
    /* Makes the link red when hovered */
    text-decoration: underline;
    /* Underlines the link when hovered */
}

a:active {
    color: green;
    /* Makes the link green when clicked */
}

/* Button Styling */

.button {
    display: inline-block;
    /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #B2D4F7;
    color: #000000;
    /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #B2D4F7;
    /* width of the border, type, color */
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}


.button.contact {
    background-color: transparent;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #B2D4F7;
}

.button.contact:hover {
    background-color: #ffffff;
    color: #4285F4;
}


/* Layout Styling */


.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a
}

#hero h1 {
    text-align: center;
    color: #000000;
}

#hero p {
    text-align: center;
    color: #000000;
}

.logo {
    max-width: 250px;
}

nav {
    display: inline-block;
    width: 100%;
}

nav>ul {
    list-style-type: none;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a
}