body {
    background-color: #ffffff;
    font-family: 'Outfit', sans-serif;
    font-size: 16px; /* Sets font size to 14px */
    font-weight: 300; /* Sets font weight to 300 */
    line-height: 1.6; /* Sets line-height to 1.6 * the font-size */
    color: #4a4a4a; 
}

h1,h2,h3 {
    line-height:1.4;
}

h1 {
    font-size: 30px; 
    font-weight: 700;
}

h2{
    font-size: 25px;
    font-weight: 700;
}

h3{
    font-size: 20px;
    font-weight: 400;
}

img{
    width: 100%;
}

a {
    font-size: 16px;
}

a:hover {
    color:red; /*Makes the link red when hovered */
    text-decoration: underline; /* Underlines the link when hovered */
}

a:visited {
    color: purple; /* Makes a link text turn purple for visited links */
}

a:active {
    color: green; /* Makes the link green when clicked */
}

a:focus {
    outline: 2px solid blue; /*adds a blue outline around the link */
}